ul {
    height: 400px !important;
    overflow: auto !important;
}

.layout .col_title::before,
.layout .col_title::after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
    margin: 0 auto;
}
